#navbar 
{
    flex-direction: column;
    display: flex;
    position: relative;
    align-items: center;
}
#navbar::before
{
    height: 93%;
}
#navbar ul 
{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
}
#navbar ul li {
    list-style: none;
    font-size: 0.9rem;
}
#home h1 
{
    font-size: 2.6rem;
    margin-top: 93px;

}
#home::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('home.jpg') no-repeat center center/cover;
    height: 45%;
    width: 100%;
    z-index: -1;
    opacity: 0.75;
}
#home
{
    height: 25px;
}
#home p {

    margin-top: 0px;
    font-size: 0.9rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bolder;
    color: brown;
    font-style: italic;
    text-decoration: underline;
}
footer 
{
    width: 100%;
    position: relative;
    top: 25vh;
    margin-top: 0px;
}
